<div class="row">
  <div class="col-6 m-auto">
    <div class="card m-auto">
      <div class="card-header text-center">
        Choisir un nouveau mot de passe
      </div>

      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onChange(loginForm)">
          <div class="form-group col-12">
            <label>Nouveau Mot de Passe</label>
            <input class="form-control" required ngModel name="NewPassword">
          </div>

          <div class="form-group col-12">
           <label>Confirmer Mot de passe</label>
           <input class="form-control" type="password" required ngModel name="confirmPassword">
         </div>

          <div class="form-group col-12">
            <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary col-12" style="margin-top: 20px;">Enregister et s'authentifier</button>

          </div>
        </form>
       </div>




    </div>
  </div>
</div>
